#hidden {
    top: 0px;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
}
.close {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: absolute;
    top: 0px;
    right: 10px;
    color: #f1f1f1;
    font-size: 200px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 1;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
#maingallery {
    top: 0px;
    width: 100%;
    position: fixed;
    height: 100%;
}
#photo {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% - 40px));
    background-color: rgba(0,0,0,0.5);
    background-image: url("../img/spinner.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
}
#photo img {
    padding: 3px 3px 3px 3px;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    white-space:nowrap;
}
#maingallery a {
    position: fixed;
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    padding: 5px;
    color: #ccc;
    font-size: 100px;
    top: 50%;
    margin-top: -100px;
    height: 150px;
    z-index: 2;
}
#maingallery > a.previmg {
    left: 0px;
}
#maingallery > a.nextimg {
    right: 0px;
}
#thumbnails {
    position: absolute;
    width: 100%;
    bottom: 0px;
    box-sizing: border-box;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    overflow: hidden;
    white-space:nowrap;
    display: block;
}
#thumbnails > a {
    position: fixed;
    display: inline;
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    padding: 5px;
    color: #ccc;
    font-size: 35px;
    padding-top: 20px;
    bottom: 0px;
    height: 85px;
    z-index: 2;
}

#thumbnails > a.scrollleft {
    left: 0px;
}
#thumbnails > a.scrollright {
    right: 0px;
}
#thumblist {
    display: block;
    position: fixed;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}
#thumblist img{
    margin: 3px;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
    height: 200px;
    width: 200px;
    object-fit: cover;
}
#thumblist img.active {
    box-shadow: 0px 0px 10px #aa0000;
}
@media (min-width: 640px) and (orientation: landscape) {
    .close {
        font-size: 75px;
    }
    #photo {
        transform: translate(-50%, calc(-50% - 40px));
    }
    #maingallery a {
        font-size: 60px;
        top: 50%;
        margin-top: -100px;
        height: 92px;
    }
    #thumbnails > a {
        font-size: 35px;
        padding-top: 20px;
        bottom: 0px;
        height: 85px;
    }
    #thumblist img{
        height: 80px;
        width: 80px;
    }

}